<%- include ('../partials/head') %>

<div class="container" style="width: 80%; margin: auto;">
    <h1 style="position: relative; left: 150px;">ContactMi Account</h1>
    <form action="/edit-account" method="POST">
    
            <h2>Edit Details About Your Account</h2>

            <div style="margin-bottom: 1em;">
                <label for="username" style="margin-bottom: .5em;">Username *</label>
                <input type="text" value="<%= user.username %>" id="username" name="username" readonly style="width: 100%;border: 1px solid #964A99;" placeholder="Input Your Username" />
                <span style="color: #888; font-size: 0.8em;">Contact support to edit your username.</span>
            </div>

            <div style="margin-bottom: 1em;">
                <label for="display_name" style=" margin-bottom: .5em;">Display Name *</label>
                <input type="text" value="<%= user.display_name %>" id="display_name" name="display_name"  style="width: 100%; border: 1px solid #964A99;" placeholder="Input Your Display Name"  />
            </div>

        
        
        
            <h2>Contact Information</h2>
            <div style="margin-bottom: 1em;">
                <label for="email" style=" margin-bottom: .5em;">Email *</label>
                <input type="email" id="email" name="email" value="<%= user.email %>" style="width: 100%;border: 1px solid #964A99;" placeholder="Input Your Email" />
            </div>

            <div style="margin-bottom: 1em;">
                <label for="phone" style=" margin-bottom: .5em;">Phone Number *</label>
                <input type="tel" id="phone" value="<%= user.phone %>" name="phone" style="width: 100%;border: 1px solid #964A99;"  placeholder="Input Your Phone Number"  />
            </div>


            <h2>Personal Information</h2> 
            <div style="margin-bottom: 1em;">
                <label for="bio" style="margin-bottom: .5em;">Bio </label>
                <input type="text" id="bio" name="bio" value="<%= user.bio %>" style="width: 100%;border: 1px solid #964A99;" placeholder="Describe yourself here..."></textarea>
            </div>



        <div style="text-align: right; margin-top: 1em;">
            <button class="btn styled-button" type="submit" style="width: 30%; position: relative; bottom: 1em; background-color: #34AAEB;">Submit Changes</button>
        </div>
    </form>
</div>

<%- include ('../partials/footer') %>
