<%- include ('../partials/head') %>

<script src="../../resources/js/friends.js"></script>

<% locals.searchUsers = false%>
<%- include('../partials/search') %>
<div class="search-spacer"></div>
<div class="container" style="width: 100%; margin: auto; display: flex; flex-wrap: wrap;">
    <div id="friendsList-panel">
        <% if (locals.friends && Array.isArray(locals.friends)) locals.friends.forEach((friend) => { %>
            <form action="/search" method="post" name="friend-form-<%- friend.user_id%>" onsubmit="(e) => e.preventDefault();">
                <input style="display: none;" name="searchAll" value="true" />
                <input style="display: none;" name="pageSize" value="1000" />
                <input style="display: none;" name="friendId" value="<%- friend.user_id%>" />
                <div id="friends-list-item-<%- friend.user_id%>"
                     class="friends-list-item stretched-link text-decoration-none card"
                     style="display: flex; flex-direction: row; padding: .5em;"
                     onclick="document.forms['friend-form-<%- friend.user_id%>'].submit();"
                >
                    <img class="rounded-circle shadow-4-strong" style="display: flex; justify-content: center; height: 3em; width: 3em;">
                    <div class="friends-list-body" style="padding-left: .7em;">
                        <div class="friends-list-name" style="font-weight: bold;"><%- friend.display_name %></div>
                        <div class="friends-list-status" style="font-size: .8em;"><%- friend.status %></div>
                    </div>
                </div>
            </form>
        <% }) %>
    </div>
    <div>
        <div id="current-friend-display" class="card">
            <% if (locals.currentFriend) { %>
                <img id="current-friend-image" class="rounded-circle shadow-4-strong">
                <div class="current-friend-display-name"><%- locals.currentFriend && locals.currentFriend.display_name ? locals.currentFriend.display_name : " " %></div>
                <label class="current-friend-label">Status</label>
                <div class="current-friend-field"><%- locals.currentFriend && locals.currentFriend.status ? locals.currentFriend.status : " " %></div>
                <label class="current-friend-label">Email</label>
                <div class="current-friend-field"><%- locals.currentFriend && locals.currentFriend.email ? locals.currentFriend.email : " " %></div>
                <label class="current-friend-label">Phone</label>
                <div class="current-friend-field"><%- locals.currentFriend && locals.currentFriend.phone ? locals.currentFriend.phone : " " %></div>
                <label class="current-friend-bio-label">Bio</label>
                <div class="current-friend-bio"><%- locals.currentFriend && locals.currentFriend.bio ? locals.currentFriend.bio : " " %></div>
            <% } %>
        </div>
    </div>
    <div style="padding-left:2em">
        <div class="card" style="min-height: 70vh;">
            <h4 style="padding:.5em;">Pending Friend Requests</h4>
            <% if (locals.pendingRequests && Array.isArray(locals.pendingRequests)) locals.pendingRequests.forEach((request) => { %>
                <div class="card">
                    <div class="friend-request-info" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="friend-request-name"><%- request.display_name %></div>
                        <div class="friend-request-actions">
                            <form action="/acceptFriendRequest" method="post" style="display: inline-block;">
                                <input type="hidden" name="requesterId" value="<%- request.requester_id %>" />
                                <button type="submit">Accept</button>
                            </form>
                            <form action="/rejectFriendRequest" method="post" style="display: inline-block;">
                                <input type="hidden" name="requesterId" value="<%- request.requester_id %>" />
                                <button type="submit">Reject</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        
    </div>
</div>

<%- include ('../partials/footer') %>