<%- include ('../partials/head') %>
<div class="profile-header" style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Welcome <%= displayName %></h1>
</div>
<div class="profile-info">
    <p><strong>Your Phone Number:</strong> <%= phoneNumber %></p>
    <p><strong>Your Email:</strong> <%= email %></p>
    <p><strong>Make Changes to <a href="/edit-account" style="text-align: right;">Your Account</a></strong></p>
</div>
<h2>Add a New Friend:</h2>
<% locals.searchUsers = true %>
<%- include ('../partials/search.ejs') %>

<%- include ('../partials/footer') %>